<nav id="nav">
  <div id="logo">QA Engine</div>
  <ul class="menu">
    <li class="li-position"><a routerLink="/view-all-questions">Home</a></li>
    <li class="li-position">
      <a>Questions</a>
      <ul>
        <li><a href="/add-question">Add Questions</a></li>
        <li><a href="/view-my-questions">View My Questions</a></li>
      </ul>
    </li>
    <li class="li-position"><a href="/view-my-answers">View My Answers</a></li>
    <li class="li-menu-position">
      <a>Menu</a>
      <ul>
        <!--<li><a href="../updateAccount">My Profile</a></li>-->
        <li><a (click)="doLogout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
