.answerBodyDesigning {
	text-align: center;
}

.answer-box-division{
	border:2px solid;
	color:#056676;
}

.answerButtonDesign {
	background-color: #184D47;
	border: 1px solid;
	border-radius: 20px;
	color: #FDDB3A;
	font-family: Chilanka;
	font-size: 25px;
	height: 34px;
	padding: 6px 6px;
	width: 17%;
}

.answer-form-control {
	background-color: #DDF3F5;
	border: 1px solid;
	border-radius: 20px;
	font-size: 30px;
	padding: 6px 12px;
	width: 30%;
}

.answer-form-group {
	color: #14274E;
	font-family: Sansita Swashed;
	font-size: 30px;
}

.answer-enclosing-box {
	background-color:#F8EFD4;
	border: 5px solid #000000;
	border-radius:20px;
	margin: 5px 20%;
	padding: 3px 20px 15px;
	width: 800px;
}

.answer-page-division{
	border:3px solid;
	color:#B5076B;
}

.answertoDisplay{
	color:#EC0101;
	font-family:Source Serif Pro;
	font-size:20px;
	text-align:left;
}

.displaying-username{
	color:#931A25;
	font-family:Noto Sans SC;
	font-size:25px;
	font-weight:bold;
	text-align:center;
}

.error{
	color:red;
	font-size: 40px;
}

.linkStylingforAnswer{
	background-color: #E7305B;
	border: 1px solid;
	border-radius: 20px;
	color: #EDE682;
	font-family: Lemonada;
	font-size: 18px;
	height: 34px;
	padding: 1px 15px 3px;
	text-decoration:none;
	width: 17%;
}

.question-as-heading{
	color:#590995;
	font-family:Balsamiq Sans;
	font-size:50px;
	text-align:center;
}

.usersRatingStyling{
	color:#BB2205;
	font-family:Staatliches;
	font-size:25px;
	font-weight:bold;
}
