<app-header></app-header>
<div class="answerBodyDesigning">
<h2 class="question-as-heading">{{question.questionnaire}}</h2>
<div *ngIf="flag; else updateBlock">
  <form [formGroup]="answersForm" (ngSubmit)="addAnswer()">
    <input type="hidden" name="id" formControlName="id" [(ngModel)]="question.id" />

    <!-- Adding an Answer -->
    <div class="answer-form-group">
      <label for="answer">* Post Your Answer!!!</label> <br /> <br />
      <textarea rows="5" class="answer-form-control" id="answer"
      placeholder="Spill**Out**Your**Answer" formControlName="answeringQuestion" [(ngModel)]="answer.answeringQuestion"></textarea>
      <br /> <br />
    </div>

    <input type="submit" value="Submit Answer" class="answerButtonDesign" />
  </form>
</div>

<ng-template #updateBlock>

  <form [formGroup]="answersForm">
    <input type="hidden" name="id" formControlName="id" [(ngModel)]="question.id" />

    <!-- Updating an Answer -->
    <div class="answer-form-group">
      <label for="answer">* Update Your Answer!!!</label> <br /> <br />
      <textarea rows="5" class="answer-form-control" id="answer"
      placeholder="Spill**Out**Your**Answer" formControlName="answeringQuestion" [(ngModel)]="answer.answeringQuestion"></textarea>
      <br />
    </div>
    <div class="usersRatingStyling">{{answer.rating}}</div> <br />
    <button (click)="updateAnswer()" class="answerButtonDesign">Update Answer</button>
    <button (click)="deleteAnswer(answer.id)" class="answerButtonDesign">Delete Answer</button><br /> <br />
    <button (click)="goBack()" class="linkStylingforAnswer">Go Back</button> <br /> <br />
  </form>
</ng-template>
<br />

<hr class="answer-page-division" />
<br />
<div class="messagetoDisplay" *ngIf="answers.length==0">
  This question is unanswered by other users.
</div>
<div *ngIf="error" class="error">{{error}}</div><br />
<div *ngFor="let answer of answers" class="answer-enclosing-box">
  <div class="displaying-username">{{answer.username}}</div>
  <hr class="answer-box-division" />
  <div class="answertoDisplay">{{answer.answeringQuestion}}</div>
  <div class="usersRatingStyling">{{answer.rating}}</div>
</div>
</div>
