.form-group {
	color: #FBD46D;
	font-family: Krona One;
	font-size: 30px;
}

.questionBodyDesigning {
	text-align: center;
}

.questionButtonDesign {
	background-color: #184D47;
	border: 1px solid;
	border-radius: 20px;
	color: #FBFD8A;
	font-family: Chilanka;
	font-size: 25px;
	padding: 6px 6px;
	width: 17%;
}

.question-form-control {
	background-color: #DDF3F5;
	border: 1px solid;
	border-radius: 20px;
	font-size: 30px;
	padding: 6px 12px;
	width: 30%;
}

.questionHeadDesign {
	color: #D2E603;
	font-family: Sansita Swashed;
	font-size: 70px;
}
