.button {
	background-color: #FFC93C;
  border: none;
  border-radius: 10px;
  color: #290001;
	cursor: pointer;
	font-family:Bangers;
  font-size: 28px;
	margin-left: 630px;
  padding: 10px 1px;
	text-align: center;
  width: 150px;
}

.button:hover{
	background-color: #F8BD7F;
}

container{
	height:100%;
}

.form-control{
	background-color:#DBCBBD;
	border:1px solid;
	border-radius:20px;
	font-size:15px;
	height:34px;
	padding:6px 12px;
	width: 20%;
}

.form-group{
	color:#1D2D50;
	font-family:Acme;
	font-weight:lighter;
	text-align:center;
}

h1{
	color:#FFEFA0;
	font-family:Bebas Neue;
	margin-left: 640px;
}
