.answerAlignmentforLink{
	text-align: center;
}

.answerBodyDesigning {
	text-align: center;
}

.answer-box-division{
	border:2px solid;
	color:#056676;
}

.answerButtonDesign {
	background-color: #184D47;
	border: 1px solid;
	border-radius: 20px;
	color: #FDDB3A;
	font-family: Chilanka;
	font-size: 25px;
	height: 34px;
	padding: 6px 6px;
	width: 17%;
}

.answer-enclosing-box {
	background-color:#F8EFD4;
	border: 5px solid #000000;
	border-radius:20px;
	margin: 5px 20%;
	padding: 3px 20px 15px;
	width: 800px;
}

.answertoDisplay{
	color:#EC0101;
	font-family:Source Serif Pro;
	font-size:20px;
	text-align:left;
}

.error{
	color:red;
	font-size: 40px;
}

.question-answered{
	color:#931A25;
	font-family:Noto Sans SC;
	font-size:25px;
	font-weight:bold;
	text-align:center;
}

.question-as-heading{
	color:#590995;
	font-family:Balsamiq Sans;
	font-size:50px;
	text-align:center;
}

.unasweredTextStyling{
	color:#9D65C9;
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
